<ion-view title="Login" hide-nav-bar="true" id="page5" style="background-color:#474747;">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <form id="login-form1" class="list">
            <div class="spacer" style="width: 300px; height: 32px;"></div>
            <div>
                <img src="img/t5HgwldQRCeA7kJJCy5H_rekindle2.png" width="45%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 21px;"></div>
            <button id="login-button1" style="color:#3D2B1F;font-size:20px;border-radius:20px 20px 20px 20px;" class="button button-energized  button-block">Log in</button>
            <a href="#" onclick="window.open('/signUp', '_system', 'location=yes'); return false;" id="login-button3" style="color:#FF6961;" class="button button-positive  button-block button-clear">Create an account</a>
        </form>
    </ion-content>
</ion-view>