<ion-view title="Text" id="page7">
    <ion-content padding="true" class="has-header">
        <form id="text-form11" class="list">
            <div id="text-container4">
                <form id="text-form13" class="list">
                    <h4 id="text-heading3" style="color:#000000;font-weight:600;">Title</h4>
                    <label class="item item-input" id="text-textarea4">
                        <span class="input-label"></span><textarea placeholder=""></textarea>
                    </label>
                </form>
            </div>
            <div id="text-container3">
                <div class="spacer" style="width: 300px; height: 33px;"></div>
                <h4 id="text-heading2" style="color:#000000;font-weight:600;">Message</h4>
                <form id="text-form12" class="list">
                    <label class="item item-input" id="text-textarea3">
                        <span class="input-label"></span><textarea placeholder=""></textarea>
                    </label>
                </form>
            </div>
        </form>
        <button id="text-button27" class="button button-positive  button-block">Submit</button>
    </ion-content>
</ion-view>